@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: white;
  padding: 1.25rem;
  background-color: black;
  cursor: pointer;
  text-transform: uppercase;
  width: 17rem;
  margin: 1.25rem auto 0.625rem;
  user-select: none;
  border-radius: 5px;
  opacity: 0.8;
  box-shadow: 10px 10px 5px 0px rgba(28, 28, 28, 0.75);
}

h1:hover {
  background-color: firebrick;
}

h1:active {
  box-shadow: none;
  transform: translateY(4px);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: white;
  color: white;
  border-radius: 5px;
  margin: 0.5rem;
}

.name {
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
}

.item a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 0.3rem;
}

a:hover,
a:active {
  text-decoration: underline;
  box-shadow: none;
}

.item-del {
  color: revert;
  font-size: 1.5rem;
  float: right;
  padding: 1rem;
  cursor: pointer;
}

.fas {
  font-weight: lighter;
}

.add_bk_container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.show_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* start flex__container */
.flex__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 50vw;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  max-width: 35rem;
}

.flex__container__close {
  font-size: 2rem;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid black;
  vertical-align: middle;
  background-color: lightcoral;
  color: whitesmoke;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  display: inline;
  float: left;
  text-align: center;
  margin-left: 0.5rem;
}

.fa-window-close {
  margin-right: 0.5rem;
}

/* end flex__container */

.flex__container__form {
  margin: 0.5rem 0 1rem 0;
}

.flex__container__form label {
  font-size: 1rem;
  font-weight: bold;
  color: chocolate;
}

.flex__container__form input {
  font-size: 1rem;
  border: 2px solid chocolate;
}

.btn_submit {
  background-color: chocolate;
  color: whitesmoke;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.far {
  cursor: pointer;
}

/* Media Query For Mobile <= 600 px */

@media screen and (max-width: 37.5rem) {
  .container {
    flex-direction: column;
    flex-wrap: initial;
  }
  .item {
    margin: 0.5rem;
  }
  .name {
    box-shadow: none;
  }
  .flex__container {
    width: 80vw;
  }
  .flex__container__close {
    font-size: 1.2rem;
  }
  h2 {
    margin: 0 0 0.5rem 0.5rem;
    font-size: 1rem;
  }
  .btn_submit {
    font-size: 1rem;
  }
}
